<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') -%>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <%- include ('partials/navbar.ejs') -%>
      <!--Mask-->
      <div id="intro" class="view">
        <div class="mask flex-center rgba-black-strong">
          <div
            class="container-fluid d-flex align-items-center justify-content-center full-bg-image"
          >
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 text-center">
                <!-- Heading -->
                <h2
                  id="big-title"
                  class="display-4 font-weight-bold white-text pt-5 mb-2 editable-big-title"
                >
                  <!-- <%- content.big_title %> -->
                  EGC s.a
                </h2>

                <!-- Divider -->
                <hr class="hr-light" />

                <!-- Description -->
                <h4 id="subt-title" class="white-text my-4 editable-subt-title">
                  <!-- <%- content.subt_title %> -->
                  Experts en génie civil et grands projets d'infrastructure depuis 1994
                </h4>
                <!-- <button type="button" class="btn btn-outline-white">Read more<i class="fas fa-book ml-2"></i>
                                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Mask-->
    </header>
    <%- include ('partials/messages.ejs') -%>
    <!--Main Navigation-->

    <!--Main layout-->
    <!-- mt-5 is for margins -->
    <main class="mt-5">
      <!-- allways create container to use grid -->
      <div class="container">
        <!-- section: best features -->
        <section id="nos-valeurs" class="text-center">
          <!-- Heading -->
          <h2
            id="nos-valeurs-title"
            class="mb-4 font-weight-bold editable-nos-valeurs-title"
          >
            <!-- <%- content.nos_valeurs_title %> -->
            Nos Valeurs
          </h2>
          <!-- Grid row -->
          <div class="row d-flex justify-content-center md-4">
            <!-- Grid col -->
            <div class="col-md-8">
              <!-- Description -->
              <p class="grey-text editable-nos-valeurs-subt-title">
                <%- content.nos_valeurs_subt_title %>
              </p>
            </div>
            <!-- Grid col -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row d-flex justify-content-center md-4">
            <!-- Grid col -->
            <div class="col-md-4 mb-4">
              <!-- Description -->
              <i class="fas fa-dollar-sign fa-3x orange-text"></i>
              
              <h4 class="my-4 font-weight-bold editable-valeur-1-title">
                <!-- <%- content.valeur_1_title %> -->
                Optimisation des Coûts
              </h4>
              <p class="grey-text editable-valeur-1">
                Grâce à une expertise pointue et une efficacité opérationnelle éprouvée, nous garantissons des services compétitifs et une optimisation maximale de votre investissement, assurant ainsi un excellent rapport qualité-prix pour chaque projet.
              </p>
            </div>
            <!-- Grid col -->

            <!-- Grid col -->
            <div class="col-md-4 mb-4">
              <!-- Description -->
              <i class="far fa-clock fa-3x orange-text"></i>
              <h4 class="my-4 font-weight-bold editable-valeur-2-title">
                <!-- <%- content.valeur_2_title %> -->
                Respect des Délais
              </h4>
              <p class="grey-text editable-valeur-2">
                La gestion rigoureuse des projets et un engagement sans faille envers les échéances établies permettent à nos clients de planifier efficacement leurs activités.
              </p>
            </div>
            <!-- Grid col -->

            <!-- Grid col -->
            <div class="col-md-4 mb-4">
              <!-- Description -->
              <i class="fas fa-suitcase fa-3x orange-text"></i>
              <h4 class="my-4 font-weight-bold editable-valeur-3-title">
                <!-- <%- content.valeur_3_title %> -->
                Excellence Technique
              </h4>
              <p class="grey-text editable-valeur-3">
                L'expertise de nos équipes qualifiées se traduit par des prestations conformes aux plus hauts standards de qualité et de sécurité, garantissant la pérennité de chaque réalisation.
              </p>
            </div>
            <!-- Grid col -->
          </div>
          <!-- Grid row -->
        </section>

        <!-- section: best features -->
        <hr class="my-5" />
        <!-- section: Examples -->
        <section id="clients" class="text-center">
          <!-- Heading -->
          <h2 class="mb-4 font-weight-bold editable-clients-title">
            <!-- <%- content.clients_title %> -->
            Aperçu de Nos Réalisations
          </h2>
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <!-- mb means margin bottom -->
            <div class="col-lg-4 col-md-12 mb-4">
              <!-- img fluid is for responsiveness -->
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <!-- <img src="/images/portfolio/01-thumbnail.jpg" class="img-fluid" /> -->
                <img src="/images/portfolio/Batiment AGF face 1.png" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text">La construction du Bâtiment AGF a impliqué un design architectural avancé et une ingénierie structurelle. Le projet a nécessité une planification précise pour intégrer des matériaux durables et des systèmes écoénergétiques, assurant à la fois attrait esthétique et fonctionnalité. Notre équipe a géré une logistique complexe pour livrer le projet à temps et dans le budget.</p>
                  </div>
                </a>
              </div>

              <h4 class="my-4 font-weight-bold editable-clients-1-title">
                <!-- <%- content.clients_1_title %> -->
                Bâtiment AGF
              </h4>
              <p class="grey-text editable-clients-1">
                Un bâtiment commercial moderne qui allie design innovant et utilisation efficace de l'espace, offrant une expérience unique et accueillante.
              </p>
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <img src="/images/portfolio/Centrale electrique Lomé.jpg" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text">Le projet de la Centrale électrique de Lomé a impliqué la construction d'une centrale électrique moderne. Notre équipe a relevé les défis complexes de l'ingénierie électrique et mécanique, assurant l'efficacité et la fiabilité de la centrale. Le projet comprenait l'installation de technologies de pointe pour répondre aux besoins énergétiques croissants de la région.</p>
                  </div>
                </a>
              </div>

              <h4 class="my-4 font-weight-bold editable-clients-5-title">
                Centrale électrique de Lomé
              </h4>
              <p class="grey-text editable-clients-5">
                Une centrale électrique moderne qui répond aux besoins énergétiques croissants de la région, avec un engagement envers l'efficacité et la durabilité.
              </p>
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <img src="/images/portfolio/AVEDJI 2.jpg" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text">Le projet du Bassin de rétention Avedji a nécessité une expertise spécialisée en ingénierie hydrologique et environnementale. Notre équipe a conçu et construit un bassin de rétention pour gérer efficacement les eaux pluviales, réduisant ainsi les risques d'inondation dans les zones environnantes. Le projet a impliqué des travaux de terrassement complexes et l'installation de systèmes avancés de contrôle de l'eau.</p>
                  </div>
                </a>
              </div>

              <h4 class="my-4 font-weight-bold editable-clients-4-title">
               Bassin de rétention, Avedji
              </h4>
              <p class="grey-text editable-clients-4">
                Un projet essentiel de gestion de l'eau qui protège les communautés environnantes des inondations, tout en respectant l'environnement.
              </p>
            </div>
            <!-- /Grid column -->
          </div>
          <!-- /Grid row -->

          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <!-- mb means margin bottom -->
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <img src="/images/portfolio/Bitumage et éclairage public du Boulevard Malfakassa prolongé à Lomé.jpg" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text">Le projet du Boulevard Malfakassa a impliqué des travaux de génie civil étendus, y compris la construction de routes et l'installation d'éclairage public. Notre équipe a utilisé des techniques avancées d'arpentage et de planification pour garantir que la route respecte toutes les normes de sécurité et de qualité. Le projet a considérablement amélioré le flux de trafic et la connectivité urbaine dans la région.</p>
                  </div>
                </a>
              </div>

              <h4 class="my-4 font-weight-bold editable-clients-3-title">
                <!-- <%- content.clients_3_title %> -->
              Boulevard Malfakassa
              </h4>
              <p class="grey-text editable-clients-3">
                Un projet d'infrastructure ambitieux qui améliore considérablement la connectivité urbaine et le flux de trafic, rendant la vie quotidienne plus fluide.
              </p>
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <img src="/images/portfolio/Batiment BLITTA.jpg" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text">la Caserne de pompiers a Blitta met l'accent sur l'optimisation de l'efficacité opérationnelle. Le projet a impliqué l'utilisation de techniques et de matériaux de construction de pointe pour assurer durabilité et fonctionnalité. Notre expertise en gestion de projet a facilité une coordination sans faille entre les différentes parties prenantes, aboutissant à une réalisation réussie.</p>
                  </div>
                </a>
              </div>
              <h4 class="my-4 font-weight-bold editable-clients-2-title">
                Caserne de Pompiers, Blitta
              </h4>
              <p class="grey-text editable-clients-2">
                Une caserne de pompiers à la pointe de la technologie, conçue pour maximiser l'efficacité et la sécurité des opérations quotidiennes.
              </p>
            </div>

            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="view overlay zoom z-depth-1-half rounded-xl">
                <img src="/images/portfolio/IMG-20200703-WA0033 (1).jpg" class="img-fluid rounded-xl" />
                <a href="#!">
                  <div class="mask flex-center rgba-white-slight rounded-xl">
                    <p class="white-text"> Le projet de silos de stockage de graine de céréales au Mali a nécessité une expertise en ingénierie agricole et logistique. Notre équipe a conçu et construit des silos de stockage capables de conserver de grandes quantités de céréales. Le projet a impliqué l'intégration de systèmes avancés de ventilation et de contrôle de la température pour maintenir des conditions de stockage optimales.</p>
                  </div>
                </a>
              </div>

              <h4 class="my-4 font-weight-bold editable-clients-6-title">
                Silos de stockage de graine de céréales, MALI
              </h4>
              <p class="grey-text editable-clients-6">
                Une installation de stockage agricole innovante, conçue pour préserver la qualité des céréales grâce à des technologies avancées.
              </p>
            </div>
            <!-- /Grid column -->
          </div>
          <!-- /Grid row -->

          <!-- Grid row -->
          <!-- <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <h4>New col content</h4>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h4>New col content</h4>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h4>New col content</h4>
            </div>
          </div> -->
          <!-- /Grid row -->
        </section>

        <!-- section: Examples -->
        <hr class="my-5" />
        <!-- section: Gallery -->

        <!--Blog Section would go here-->

        <!-- Blog section would end here -->
        <!-- section: /Gallery -->

        <hr class="my-5" />

        <!-- section: Contact-->
        <section id="contact">
          <h2 class="mb-5 font-weight-bold text-center editable-contactez-nous">
            <%- content.contactez_nous %>
          </h2>

          <!--Grid row-->
          <div class="row text-center justify-content-between">
            <!-- Grid column - Address -->
            <div class="col-lg-3 mb-3">
              <p><i class="fas fa-map fa-1x mr-2 grey-text"></i></p>
              <p class="editable-business-location">
                Av. de la Chance, Rue Bretelle, près de la Phcie St Joseph
                Bè Klikamé - BP 81342
                Lomé - Togo
              </p>
            </div>

            <!-- Grid column - Hours -->
            <div class="col-lg-6 mb-3">
              <p><i class="fas fa-building fa-1x mr-2 grey-text"></i></p>
              <p class="editable-business-hours">
                <strong>Lundi:</strong> 07H30 — 12H30; 15H00 — 19H00<br>
                <strong>Mardi:</strong> 07H30 — 12H30; 15H00 — 19H00<br>
                <strong>Mercredi:</strong> 07H30 — 12H30; 15H00 — 19H00<br>
                <strong>Jeudi:</strong> 07H30 — 12H30; 15H00 — 19H00<br>
                <strong>Vendredi:</strong> 07H30 — 12H30; 15H00 — 19H00<br>
                <strong>Samedi:</strong> 08H00 — 12H30<br>
                <strong>Dimanche:</strong> Fermé
              </p>
            </div>

            <!-- Grid column - Phone -->
            <div class="col-lg-3 mb-3">
              <p><i class="fas fa-phone fa-1x mr-2 grey-text"></i></p>
              <p class="editable-business-phone-number">
                (+228) 22 50 22 96
              </p>
              <p><i class="fas fa-envelope fa-1x mr-2 grey-text"></i></p>
              <p class="editable-business-email">
                egc.togo@yahoo.fr
              </p>
              
            </div>
          </div>
          <!--Grid row-->

          <!-- Google map -->
          <div
            id="map-container"
            class="map-container z-depth-1-half"
            style="height: 400px;"
          ></div>
          <!-- /Google map -->
        </section>

        <!--/ Contact -->
        <hr class="my-5" />
      </div>
    </main>

    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <div style="background-color: #4285f4;">
        <div class="container">
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0">Restez connecté par email!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <a class="nav-link" href="mailto:egc.togo@yahoo.fr"><i class="fas fa-envelope"></i> egc.togo@yahoo.fr </a>
              <!-- Facebook -->
              <!-- <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a> -->
              <!-- Twitter -->
              <!-- <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a> -->
              <!-- Google +-->
              <!-- <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a> -->
              <!--Linkedin -->
              <!-- <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a> -->
              <!--Instagram-->
              <!-- <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a> -->
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold editable-footer-business-name">
              <img src="/images/logos/egc.png" height="30" alt="EGC Logo" class="mr-2">
              EGC s.a
            </h6>
            <hr class="red accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
            <p class="editable-footer-business-recap">
              Depuis 1994, EGC s.a est votre partenaire de confiance en génie civil et grands projets d'infrastructure au Togo, et en Afrique. Notre expertise technique et notre engagement envers l'excellence nous permettent de réaliser des projets durables qui façonnent l'avenir.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold editable-business-services-title">
              Nos Services
            </h6>
            <hr class="red accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;" />
            <p class="editable-service-1">
              Génie Civil
            </p>
            <p class="editable-service-5">
              Génie Électrique
            </p>
            <p class="editable-service-2">
              Construction de Bâtiments
            </p>
            <p class="editable-service-3">
              Infrastructures Routières
            </p>
            <p class="editable-service-4">
              Ouvrages Hydrauliques
            </p>
           
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6
              class="text-uppercase font-weight-bold editable-liens-utils-title"
            >
              <%- content.liens_utils_title %>
            </h6>
            <hr
              class="red accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px;"
            />
            <p class="editable-lien-1">
              <%- content.lien_1 %>
            </p>
            <p class="editable-lien-2">
              <%- content.lien_2 %>
            </p>
            <p class="editable-lien-3">
              <%- content.lien_3 %>
            </p>
            <p class="editable-lien-4 ">
              <%- content.lien_4 %>
            </p>
          </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold editable-contact-title ">
              <!-- <%- content.contact_title %> -->
              Contactez-nous
            </h6>
            <hr
              class="red accent-2 mb-4 mt-0 d-inline-block mx-auto "
              style="width: 60px; "
            />
            <div>
              <p style="float: left "><i class="fas fa-home mr-3 "></i></p>
              <p class="editable-location ">
                <!-- <%- content.location %> -->
                Av. de la Chance, Rue Bretelle, près de la Phcie St Joseph
                Bè Klikamé - BP 81342
                Lomé - Togo
              </p>
            </div>
            <div>
              <p style="float: left "><i class="fas fa-envelope mr-3 "></i></p>
              <p class="editable-email ">
               egc.togo@yahoo.fr
              </p>
            </div>
            <div>
              <p style="float: left "><i class="fas fa-phone mr-3 "></i></p>
              <p class="editable-phone-number ">
                (+228) 22 50 22 96
              </p>
            </div>
            <div>
              <p style="float: left "><i class="fas fa-print mr-3 "></i></p>
              <p class="editable-fax-number ">
                (+228) 22 50 22 96
              </p>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 ">
        © 2025 Copyright:
        <!-- <a href="https://www.linkedin.com/in/mawaba-dao/"> Mawaba P. Dao</a> -->
        EGC s.a
      </div>
      <!-- Copyright -->
    </footer>
    <!-- /Footer -->

    <!-- CDN scripts -->
    <%- include ('partials/cdn_scripts.ejs') -%>
    <!-- Google maps settings -->
    <script>
      // Regular map
      function initMap() {
        var var_location = new google.maps.LatLng(6.17842642356567, 1.2053918464591553);
   

        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };

        var var_map = new google.maps.Map(
          document.getElementById("map-container"),
          var_mapoptions
        );

        var var_marker = new google.maps.Marker({
          position: var_location,
          map: var_map,
          title: "EGC s.a"
        });
      }

      // Initialize maps
      // google.maps.event.addDomListener(window, "load", regular_map);
    </script>

    <!-- Carousel options -->
    <script>
      $(".carousel").carousel({
        interval: 3000 //in milliseconds (set to false to to turn off autoplay)
      });
    </script>
  </body>
</html>
